<!-- footer -->
<footer class="bg-primary">
    <div class="container no-gutter">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center py-5 py-md-0">
          <h2><a class="logo logo--white mr-6 mr-md-5" href="index.html">D'Perfume</a></h2>
          <p class='small text-white'>© 2020. All Rights Reserved.</p>
        </div>
        <ul class="d-none d-md-flex h5 text-white">
          <li class="mr-9"><a class="py-7" href="shop.html" data-page="product">Product</a></li>
          <li class="mr-9"><a class="py-7" href="#">Blog</a></li>
          <li><a class="py-7" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>