<!-- modal  -->

<!-- wishlist -->
<div class="modal fade" id="wishlist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body h5 text-center text-primary font-weight-bold">
                已加入我的收藏
            </div>
        </div>
    </div>
</div>

<!-- addcart -->
<div class="modal fade" id="addcart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-body h5 text-center text-primary font-weight-bold">
                已加入購物車
            </div>
        </div>
    </div>
</div>