<!-- product-nav -->
<div class="bg-primary">
    <div class="container">
            <ul class="d-none d-md-flex h5 text-white ">
                <li><a class="pr-8 py-3" href="product.html" data-page="CHANEL">CHANEL</a></li>
                <li><a class="pr-8 py-3" href="#" data-page="Jo Malone">Jo Malone</a></li>
                <li><a class="pr-8 py-3" href="#" data-page="Curology">Curology</a></li>
                <li><a class="pr-8 py-3" href="#" data-page="Dior">Dior</a></li>
                <li><a class="pr-8 py-3" href="#" data-page="Chloe">Chloe</a></li>
                <li><a class="pr-8 py-3" href="#" data-page="ZARA">ZARA</a></li>
            </ul>
    </div>
</div>