  <!-- subscribe -->
  <section class="subscribe d-flex align-items-end">
    <div class="container container__md--sm">
      <div class="row">
        <div class="col-md-4" data-aos="fade-up">
          <h2 class="h2 lh-lg text-gray font-weight-bold mb-5">記得<br>訂閱以獲取更多資訊！</h2>
          <form>
            <div class="form-group row no-gutters">
              <div class="col-7">
                <input type="email" class="custom__input custom__input--email" value="" placeholder="Your email address" required>
              </div>
              <div class="col-5">
                <button class="custom__input custom__input--send" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>