*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 1px solid #f0a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-base;
  color: $black;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

textarea:focus {
  outline: none;
}