$color-primary: #AA0601;
$color-dark-primary: #650300;
$color-secondary: #FBF2F2;
$color-light-black: #111619;
$color-gray: #DEE2E6;
$color-dark-gray: #707070;

@mixin a-hover($bgc: $color-primary, $c: $color-gray) {
    background-color: $bgc;
    color: $c;
}


*,*::before,*::after {
    box-sizing: border-box;
    outline: 1px solid #f0a;
}

body {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3,h4 {
    line-height: 1.4;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// -----------------------share class------------------------
.container {
    max-width: 1110px;
    margin: 0 auto;
}

@media screen and (max-width: 1130px) {
    .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 15px;
    }
}

.nav a {
    display: block;
    padding: 10px;
    margin-right: 20px;
}

.nav li:last-of-type a {
    margin-right: 0;
}

.nav a:hover {
    @include a-hover(auto, $color-dark-gray);
}

@media screen and (max-width: 375px) {
    .nav {
        width: 100%;

        li {
            width: 50%;
        }

        a {
            border: 1px solid #fff;
            margin-right: 0;
            padding: 8px 0;
            text-align: center;
        }
    }
}

.mobile-show {
    display: none;
}

// -----------------------flex------------------------
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

// -------------text class-----------------------
.bg-primary {
    background-color: $color-primary;
}

.bg-secondary {
    background-color: $color-secondary;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 600;
}

.text-primary {
    color: $color-primary;
}

.text-dark-primary {
    color: $color-dark-primary;
}

.text-light-black {
    color: $color-light-black;
}

.text-dark-gray {
    color: $color-dark-gray;
}

.text-white {
    color: white;
}

.text-white a {
    color: white;
}

.h1 {
    font-size: 6rem; //72px
}

.h2 {
    font-size: 4rem; //64px
}

.h3 {
    font-size: 3rem; //48px
}

.h4 {
    font-size: 2.25rem; //36px
}

.h5 {
    font-size: 1.5rem; //24px
}

.h6 {
    font-size: 1.25rem; //20px
}

.font-s {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .h1 {
        font-size: 3rem; //48px
    }

    .h2 {
        font-size: 2rem; //32px
    }

    .h3 {
        font-size: 1.75rem; //28px
    }

    .h4 {
        font-size: 1.5rem; //24px
    }

    .h5 {
        font-size: 1.25rem; //20px
    }

    .h6 {
        font-size: 1rem; //16px
    }

    .h1-md-h2 {
        font-size: 2rem; //32px
    }

    .h2-md-h1 {
        font-size: 3rem; //48px
    }

    .h4-md-h5 {
        font-size: 1.25rem; //20px
    }

    .h6-md-h5 {
        font-size: 1.25rem; //20px
    }

    .font-md-s {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {

    .h2 {
        font-size: 2rem; //32px
    }

    .h3 {
        font-size: 1.5rem; //24px
    }

    .h4 {
        font-size: 1rem; //16px
    }
}

//----------------margin & padding------------------------------------------------

//-------------------------------------------------header
header {
    padding: 0 4.5%;
}

header a {
    display: block;
    padding: 30px 0;
}

@media screen and (max-width: 375px) {
    header {
        padding: 0;
        flex-direction: column;
        align-items: center;

        h1 a {
            padding: 10px 0;
        }
    }
}

//-------------------------------------------------footer
footer {
    padding-top: 38px;
    padding-bottom: 28px;
}

.footer-list {
    border-bottom: 1px solid #fff;

    .icon-list li {
        margin-right: 32px;
    }

    .icon-list li:last-of-type {
        margin-right: 0;
    }

}

.footer-main-list {
    width: 100%;

    li>* {
        vertical-align: middle;
    }

    img {
        width: 44px;
        display: inline-block;
        margin-right: 17px;
    }

    a:hover {
        @include a-hover(auto, $color-dark-gray);
    }

}

.copyright-text {
    .logo {
        margin-right: 38px;
    }

    p {
        line-height: 48px;
    }
}




@media screen and (max-width: 768px) {
    .footer-list {
        .icon-list {
            align-items: center;
        }

        .icon-list img {
            width: 24px;
            height: 24px;
        }
    }

    .footer-main-list {
        img {
            width: 32px;
        }
    }

    .copyright-text .logo {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .footer-list {
        .nav {
            display: none;
        }

        .icon-list {
            align-self: start;
        }
    }

    .footer-main-list {
        width: 60%;
        order: -1;

        img {
            width: 20px;
            margin-right: 4px;
        }
    }

    .copyright-text {
        width: 100%;
    }

    .copyright-list {
        li {
            width: 100%;
        }

        a {
            border: none;
            text-align: left;
        }
    }

    .copyright{
        position: relative;
        .mobile-show {
            display: block;
            width: 46px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

}