<header class="d-flex align-items-center pt-8 px-8 pb-11">
  <h2 class="h3 font-weight-bold mr-11">Admin</h2>

  <a href="#" class="h6 font-weight-bold align-middle mr-auto" data-toggle="modal" data-target="#newAdmin">
    <span class="material-icons text-dark-primary mr-2">add</span>
    Add New Admin
  </a>
  <button type="button" class="material-icons mr-6">search</button>
  <button type="button" class="material-icons">notifications_active</button>
</header>

