<!-- footer -->
<footer class="mt-16 pb-8">

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end px-8">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous"><span
           class="material-icons material-icons-md text-dark-primary text-left" aria-hidden="true">chevron_left</span></a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next"><span 
          class="material-icons text-dark-primary text-left" aria-hidden="true">chevron_right</span></a>
      </li>
    </ul>
  </nav>

</footer>