/* ----------------------------------------font size */
h1,
.h1 {
    font-size: 4rem; //64px

    @include pad-992 {
        font-size: 3rem; //48px
    }

    @include pad-992 {
        font-size: 2rem; //32px
    }
}

h2,
.h2 {
    font-size: 3rem; //48px

    @include pad-992 {
        font-size: 2rem; //32px
    }

    @include mobile-576 {
        font-size: 1.5rem; //24px
    }
}

h3,
.h3 {
    font-size: 2.25rem; //36px

    @include pad-992 {
        font-size: 1.25rem; //20px
    }

    @include mobile-576 {
        font-size: 1rem; //16px
    }
}

h4,
.h4 {
    font-size: 1.5rem; //24px

    @include pad-992 {
        font-size: 1.25rem; //20px
    }
}

h5,
.h5 {
    font-size: 1.25rem; // 20px

    @include pad-992 {
        font-size: 1rem; //16px
    }
}

h6,
.h6 {
    font-size: 1rem; // 16px
}

.font {
    &-s {
        font-size: 14px;
    }

    @include mobile-576 {
        &-sm-s {
            font-size: 14px;
        }
    }

}

/*----------------------------------------line-height */

.lh {
    &-1 {
        line-height: 1;
    }
}

/*----------------------------------------text color */
.text {
    &-white {
        color: $white;
    }

    &-black {
        color: $black;
    }

    &-primary {
        color: $primary;
    }

    &-dark-primary {
        color: $dark-primary;
    }

    &-secondary {
        color: $secondary;
    }

    &-gray {
        color: $gray;
    }
}


/* ----------------------------------------font style */
.font {
    &-roboto {
        font-family: "Roboto", sans-serif;
    }
    &-noto {
        font-family: "Noto Sans TC", sans-serif;
    }

    &-italic {
        font-style: italic;
    }
}

.uppercase {
    text-transform: uppercase;
}

/* ----------------------------------------font weight */
.font {
    &-normal {
        font-weight: normal;
    }

    &-medium {
        font-weight: 500;
    }

    &-bold {
        font-weight: bold;
    }

    &-black {
        font-weight: 900;
    }
}

/*----------------------------------------text align */

.text {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}